@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
TODO delete old fonts
*/
@font-face {
    font-family: 'LeagueSpartan';
    src: url('./leagueSpartan/leaguespartan-bold.eot');
    /* IE9 Compat Modes */
    src: url('./leagueSpartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./leagueSpartan/leaguespartan-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./leagueSpartan/leaguespartan-bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('./leagueSpartan/leaguespartan-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./leagueSpartan/leaguespartan-bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

/*
TODO delete old fonts
*/
@font-face {
    font-family: 'BrandonGrotesque';
    src: url("./brandonGrotesque/Brandon_reg.otf") format("opentype");
    /*src: url('./brandonGrotesque/Brandon_reg.eot');/* IE9 Compat Modes */
    /*src: url('./brandonGrotesque/Brandon_reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /*url('./brandonGrotesque/Brandon_reg.woff2') format('woff2'), /* Super Modern Browsers */
    /*url('./brandonGrotesque/Brandon_reg.woff') format('woff'), /* Pretty Modern Browsers */
    /*url('./brandonGrotesque/Brandon_reg.ttf') format('truetype'), /* Safari, Android, iOS */
    /*url('./brandonGrotesque/Brandon_reg.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

/* Heading
    TODO: add to Heading component
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #918e8f;
}

hr {
    background-color: #e2e0e1;
}

.content h4 {
    font-weight: 500;
    font-size: 20px;
    color: rgb(181, 167, 80);
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #b5a750;
    text-align: center;
    height: 1.5em;
    margin: 0;
}

.hr-text:before {
    content: "";
    background: #b5a750;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #b5a750;
    background-color: #e2e0e1;
}